<!--I can see all base html-->
{% extends "base.html" %}
{% load static %}
<!--all this content is displayed inside the body of base.html-->
{% block content %}
   <div class="container-fluid">
       <div class="row">
           <div class="col-12 image-carousel">
               <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                   <div class="carousel-inner">
                       <div class="carousel-item active">
                           <img src="https://res.cloudinary.com/anto8913/image/upload/v1636404240/4th%20milestone/beavertown_carousel_oodxqx.jpg"
                               class="d-block w-100 img-fluid" alt="...">
                       </div>
                       <div class="carousel-item">
                           <img src="https://res.cloudinary.com/anto8913/image/upload/v1636404199/4th%20milestone/gipsy_hill_wih0nl.jpg"
                               class="d-block w-100 img-fluid" alt="...">
                       </div>
                       <div class="carousel-item">
                           <img src="https://res.cloudinary.com/anto8913/image/upload/v1636404190/4th%20milestone/cark_rigde4.jpg"
                               class="d-block w-100 img-fluid" alt="...">
                       </div>
                       <div class="carousel-item">
                        <img src="https://res.cloudinary.com/anto8913/image/upload/v1634852704/4th%20milestone/tiny_rebel_carousel_ydwvyq.jpg"
                            class="d-block w-100 img-fluid" alt="...">
                    </div>
                   </div>
               </div>
           </div>
       </div>
    
           <div class="col-7 offset-5">
               <button type="button" class="shop-all-btn btn-dark  btn-lg  ">
                   <a href="{% url 'products'%}">SHOP ALL</a>
               </button>
           </div>
       
   </div>
{% endblock %}