
/*HEADER*/

.body{
    font-family: 'Festive';
}

.header{
    background: black;
    padding-left: 12px;
    padding-right: 0;
    margin-bottom: auto;
}



.navbar-brand{
    padding-right: 80px;
}


.header a{
  
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-right: 80px;
    margin-top: 25px;
   
}



.header a:hover{
    color: burlywood;
}

.header i{
    font-size: xx-large;
    color: white;
    
    
}

.header button{
    background-color: white;
}

/* beer-menu id, visible  only on mobile-phone device */
#beer-menu{
    color: black;
}

#icon-search{
    margin-top:32px;
}

/* delivery banner*/
#delivery-banner{
    margin: 0;
    background-color:red
}

/* input and input submit elements*/
.search-box{
    display: none;
}

.search-box input{
   height: 70px;
   width: 100%;
   background-color:white
 
}

.search-box ::placeholder{
color:white;
font-size:xx-large;
}

/* account and basket p*/
.text-center p{
    color: white;
}

#account-menu{
    background: black;
    color: black;
}

#account-menu :hover{
    background-color:wheat;
}

/* INDEX */

.image-carousel{
   padding: 0;
}

.shop-all-btn{
    min-width: 260px;
    margin-top: 15px;
}

.shop-all-btn a{
    color:white;
    text-decoration: none;
}


/* PRODUCTS */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;/*??*/
    z-index: -1;
}

.card-body p{
    font-weight: bolder;
    color: black;
    font-size: larger;
}

/*Product detail*/

.card-img-top{
   margin-top: 55px;
}

.product-details-container h4{
    color: green;
    font-weight: 700;
}

.product-details-container h5{
     color:orange;
}

.product-details-container p{
      margin-top: 15px;
      font-weight: 500;
}

.rounded-pill{
    margin-top: 20px;
    width: 42%;
    height:30px;
    padding-left:25px;
    background-color: papayawhip;
}

#top-arrow{
    font-size: xx-large;
    float: right;
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: 50px;
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

/* TOASTS*/
.custom-toast {
    margin-top: 6.5rem;
   overflow: visible;
}

.toast-capper {
    
    height: 2px;
}

/* Messages */
.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}


/* Basket page*/


/* update and remove links*/
.update_quantity_item {
    cursor: pointer;
}

.remove_item{
    cursor: pointer;
}







/*mobile-phone*/
@media only screen and (max-width:576px) {
   .header i{
         font-size: larger;
     }

     #beer-button{
         padding-top: 40px;
         padding-right: 0;
     }

     .container-fluid a{
         font-size: smaller;
         margin-right: 0;
     }

}


@media only screen and (max-width:768px) {
    .rounded-pill {
        width: 50%;
        padding-left: 15px;
    }

}


