
/*HEADER*/

.body{
    font-family: serif
}
.header{
    background: linear-gradient( 1deg, black, #00000094 );
    padding-left: 12px;
    padding-right: 0;
    margin-bottom: auto;
}



.navbar-brand{
    padding-right: 80px;
}


.header a{
   
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-right: 80px;
    margin-top: 25px;
   
}



.header a:hover{
  color: #d41608;
}
 
   
  


.header i{
    font-size: xx-large;
    color: white;
    
    
}

.header button{
    background-color: white;
}

/* beer-menu id, visible  only on mobile-phone device */
#beer-menu{
    color: black;
}

#icon-search{
    margin-top:32px;
}

/* delivery banner*/
#delivery-banner{
    margin: 0;
    background-color:black
}

/* input and input submit elements*/
.search-box{
    display: none;
}

.search-box input{
   height: 70px;
   width: 100%;
   background-color:white
 
}

.search-box ::placeholder{
color:black;
font-size:xx-large;
}

/* account and basket p*/
.text-center p{
    color: white;
}

#account-menu{
    background: black;
    color: black;
}

#account-menu :hover{
    background-color:wheat;
}

/* INDEX */

.image-carousel{
   padding: 0;
}

.shop-all-btn{
    min-width: 260px;
    margin-top: 15px;
}

.shop-all-btn a{
    color:white;
    text-decoration: none;
}


/* PRODUCTS */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;/*??*/
    z-index: -1;
}

.card-body p{
    font-weight: bolder;
    color: black;
    font-size: larger;
}


#top-arrow{
    font-size: xx-large;
    float: right;
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: 50px;
    text-decoration: none;
    color:black;
    cursor: pointer;
}

/*Product detail*/

.card-img-top{
   margin-top: 25px;
}

.product-details-container{
    margin-top: 25px;
}

.product-details-container h4{
    color: green;
    font-weight: 700;
}

.product-details-container h5{
     color:black;
}

.product-details-container p{
      margin-top: 15px;
      font-weight: 500;
}

.rounded-pill{
    margin-bottom: 25px;
    padding-top: 2px;
    border-color: black;
    margin-top: 25px;
    width: 42%;
    height:30px;
    padding-left:25px;
    background: linear-gradient(45deg, #d41608, transparent);
}

.form-row p{
  margin-top: 25px;
}

.form-row strong{
    padding-left: 70px;
    font-size: larger;
}

/* quantity input */
.form-row input{
    max-width: 30%;
}

.increment-qty i{
    font-size: x-large;
}

.decrement-qty i{
    font-size: x-large;
}

.keep-get-drink{
    font-size: initial;
    font-weight: bold;
    text-decoration: none;
    color: black;
}





.add-to-basket{
   
    padding-right: 25px;
    font-weight: bold;
}




.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

/* TOASTS*/


#success{
    color: green;
}

#error{
    color: red;
}

#info{
    color:rgb(73, 231, 231)
}

#warning{
    color:#ffc107
}
 
/* Toast_success*/
.basket-preview{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Messages */
.message-container {
    position:fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}


/* BASKET*/

/* table */

.price{
    padding-left: 30px;
}

/* quantity input */
.form-control{
    border: 1px solid black;
    max-width: initial;
}


/* update and remove links*/
.update_quantity_item {
    margin-left: 12px;
    text-decoration: none;
    padding-right: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.remove_item{
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}

.checkout{
    text-decoration: none;
    color:green;
    font-weight: bolder;
}







/*mobile-phone*/
@media only screen and (max-width:576px) {
   .header i{
         font-size: larger;
     }

     #beer-button{
         padding-top: 40px;
         padding-right: 0;
     }

     .container-fluid a{
         font-size: smaller;
         margin-right: 0;
     }

}


@media only screen and (max-width:768px) {
    .rounded-pill {
        width: 50%;
        padding-left: 15px;
    }

}


