
/*HEADER*/


.header{
    background: black;
}

.container-fluid {
    margin-bottom: auto;
}

.navbar-brand{
    padding-right: 80px;
}


.container-fluid a{
  
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-right: 80px;
    margin-top: 25px;
   
}



.header a:hover{
    color: burlywood;
}

.header i{
    font-size: xx-large;
    color: white;
    
    
}

.header button{
    background-color: white;
}

#beer-menu{
    color: black;
}

#icon-search{
    margin-top:32px;
}

/* delivery banner*/
#delivery-banner{
    background-color: rgb(165, 165, 1);
}

/* input and input submit elements*/
.search-box{
    display: none;
}

.search-box input{
   height: 70px;
   width: 100%;
   background-color: wheat;
 
}

.search-box ::placeholder{
color:white;
font-size:xx-large;
}

/* account and basket p*/
.text-center p{
    color: white;
}

#account-menu{
    background: black;
    color: black;
}

#account-menu :hover{
    background-color:wheat;
}



/* PRODUCTS */

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;/*??*/
    z-index: -1;
}

/*mobile-phone*/
@media only screen and (max-width:576px) {
   .header i{
         font-size: larger;
     }

     #beer-button{
         padding-top: 40px;
         padding-right: 0;
     }

     .container-fluid a{
         font-size: smaller;
         margin-right: 0;
     }

}


